﻿@*@model IPagedList<Laptop.Models.Colorr>

@using PagedList.Mvc;
@using PagedList;*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Màu sắc</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/test/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Màu sắc</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<br>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-4">
        <div>
            <br />
            <br />
        </div>
        
        <div class="card card-primary" style="margin-top: 10px">
            <div class="card-header">
                <h3 class="card-title" style="text-align:center; width:100%">Form thêm màu</h3>
            </div>
            <form method="post" action="/color/Index">
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr align="center">
                                <th>Màu</th>
                                <th>Hình ảnh</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="odd gradeX" align="center">
                                <td>
                                    <input type="text" class="form-control" placeholder="Điền tên màu" name="Mau">
                                </td>
                                <td>
                                    @*<img src="@Model.Image" width="100" height="100" />*@
                                    <input type="text" class="form-control" placeholder="Điền link ảnh" name="Anh">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <b style="text-align:center; color:red">@ViewBag.test</b>
        </div>
        <div>
            <br />
            <br />
        </div>
        <div class="card card-primary" style="">
            <div class="card-header" style="background-color:sandybrown">
                <h3 class="card-title" style=" text-align:center; width:100%">Thông tin 3 màu được thêm gần nhất</h3>
            </div>
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr align="center">
                            <th>ID</th>
                            <th>Màu</th>
                            <th>Hình ảnh</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.color)
                        {
                        <tr class="odd gradeX" align="center">
                            <td>@item.ID</td>
                            <td>@item.Color</td>
                            <td><img style="width:70px; height:70px" src="@item.Image" /></td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-1">

    </div>
    <div class="col-5">
        @*<form class="form-inline ml-3" method="post" action="/color/Search">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="key" placeholder="Tìm kiếm">
                        <button type="submit" class="btn btn-primary" style="background-color:white; border-color:white; color:blue">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>*@        
        <section class="content">
            <div class="card-body pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title" style="text-align:center; width:100%">Bảng màu</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example" class="table table-bordered table-hover">
                                    <thead>
                                        <tr align="center">
                                            <th>ID</th>
                                            <th>Màu</th>
                                            <th>Hình ảnh</th>
                                            <th>Aciton</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.co)
                                        {
                                        <tr class="odd gradeX" align="center">
                                            <td>@item.ID</td>
                                            <td>@item.Color</td>
                                            <td><img style="width:70px; height:70px" src="@item.Image" /></td>
                                            <td>
                                                @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr align="center">
                                            <th>ID</th>
                                            <th>Màu</th>
                                            <th>Hình ảnh</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                @*<div style="margin-left: 50%;" class="paginate">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", "color", new { page }))
                                </div>*@

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
    <div class="col-1">

    </div>
</div>




