﻿@model IPagedList<Laptop.Models.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "product";
    Layout = null;
}
<div class="container" id="Danh_Sach_San_Pham">
    <div class="row" style="margin:0px;margin-top:10px">
        @foreach (var item in Model)
        {
            <div class="col-3" style="border: 5px solid #f7f7f7;text-align:center" id="test">
                <div style="height:240px">
                    <a href="/_clientProductDetail/Index?key=@item.ID"><img src="@item.Image" style="width:250px; height:230px" class="image" /></a>
                    <div class="middle" href="/_clientProductDetail/Index?key=@item.ID">
                        <b style="font-size:17px"> CPU:  @item.CPU</b><br />
                        <b style="font-size:17px"> RAM:  @item.RAM</b><br />
                        <b style="font-size:17px"> GPU:  @item.GPU</b><br />
                        <b style="font-size:17px"> Ổ cứng:  @item.ROM</b><br />
                    </div>
                </div>
                <div style="height:55px">
                    <a href="/_clientProductDetail/Index?key=@item.ID"><p><b>@item.Name</b></p></a>
                </div>
                <div style="height:130px">
                    <p style=" font-size:14px">@item.Description</p><br />
                </div>
                <div style="height:70px">
                    <p><b style="text-decoration:line-through; font-size:15px;font-weight:bold">@string.Format("{0:#,##0}", @item.Price)đ</b></p>
                    <b style="color:white; background-color:orange;font-size:18px; border-radius:15px; padding:4px;font-weight:bold">@string.Format("{0:#,##0}", @item.Promotion_Price)đ</b>
                </div>
            </div>
        }
    </div>
</div>
