﻿
@{
    ViewBag.Title = "Bill_Detail";
    Layout = "~/Views/Shared/_Client.cshtml";
}
@*<!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Thế Kỷ - Cửa hàng buôn bán Laptop uy tín</title>

        <link rel="shortcut icon" type="image/png" href="~/Content/image/LogoLap.png" />
        <link href="~/Content/admin1/css/login.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/a949dd9bc5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <style>
            span {
                display: block;
                position: absolute;
                top: -10px;
                right: 5px;
            }

            div {
                position: relative;
            }
        </style>
        <script>
            isBool = true;
            function showpass() {
                if (isBool) {
                    document.getElementById("password").setAttribute("type", "text");
                    isBool = false;
                }
                else {
                    document.getElementById("password").setAttribute("type", "password");
                    isBool = true;
                }
            }

        </script>
    </head>*@
<style>
    span {
        display: block;
        position: absolute;
        top: -4px;
        right:-170px;
    }

    div {
        position: relative;
    }
</style>
<script>
    isBool = true;
    function showpass() {
        if (isBool) {
            document.getElementById("password").setAttribute("type", "text");
            isBool = false;
        }
        else {
            document.getElementById("password").setAttribute("type", "password");
            isBool = true;
        }
    }

</script>
<div class="container">
    <form role="form" action="/_clientLogin/register" method="post" style="border:1px solid orange;">
        <div style="text-align:center;">
            <b style="font-size:50px">Đăng ký</b><br /><br /><br />
        </div>
        <div class="row" style="font-size:17px">
            <div class="col-6">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3" style="text-align:left;margin-left:30px">
                        <b>Họ và tên: </b>
                    </div>
                    <div class="col-2" style=" margin-top: 3px;margin-left:-30px">
                        <input type="text" required="" class="form-control" style="width:250px;font-size:17px;height:25px" placeholder="" autofocus name="name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3" style="text-align:left;margin-left:30px">
                        <b>Giới tính: </b>
                    </div>
                    <div class="col-3" style=" margin-top: 3px;margin-left:-30px">
                        @*<input required="" type="text" name="gender" list="dl1" style="width:250px;height:25px">*@
                        <select name="gender" style="width:250px;height:25px">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3" style="text-align:left;margin-left:30px">
                        <b>Địa chỉ: </b>
                    </div>
                    <div class="col-3" style=" margin-top: 3px;margin-left:-30px">
                        <input type="text" required="" class="form-control" style="width:250px;font-size:17px;height:25px" placeholder="" autofocus name="address">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <b>Số điện thoại: </b>
                    </div>
                    <div class="col-2" style=" margin-top: 3px; margin-left: -45px;">
                        <input required="" pattern="^[0][0-9]{9}" title="Số điện thoại cần bắt đầu bằng 0 và có 10 số" type="text" class="form-control" style="width:250px;font-size:17px;height:25px" placeholder="" autofocus name="phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Email: </b>
                    </div>
                    <div class="col-2" style=" margin-top: 3px; margin-left: -45px;">
                        <input required="" type="email" class="form-control" style="width:250px;font-size:17px;height:25px" placeholder="" autofocus name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Mật khẩu: </b>
                    </div>
                    <div class="col-2" style=" margin-top: 3px; margin-left: -45px;">
                        <input required="" type="password" id="password" class="form-control" style="width:250px;font-size:17px;height:25px" name="password">
                        <span>
                            <img src="~/Content/image/mắt.png" width="35" onclick="showpass()" />
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="checkbox mb-3" style="text-align:center">
            <p style="color:red">@ViewBag.error</p>
        </div>
        <div style=" text-align: center">
            <button style="width:250px;background-color:#007bff;border-radius:20px; border: 1px solid #d1e2ff;font-size:17px;height:35px" type="submit">
                <b style="color:#fff; font-weight:bold">Đăng ký</b><br />
            </button>
        </div>
        <br />
    </form>
</div>
@*</body>
    </html>*@





